#digraph-masthead {
  #masthead-screen {
    display: flex;

    .digraph-masthead-search {
      order: 2;
      margin-left: $(spacing_base);

      .search-form {
        margin-top: 0;
      }
    }

    .digraph-masthead-wrapper {
      order: 1;
      flex-grow: 1;
    }
  }
}
