#digraph-navbar {
  margin: 0;

  .digraph-area-wrapper {
    padding-left: $(spacing_base);
    padding-right: $(spacing_base);
  }
}

.navbar, #digraph-navbar {
  background: $(color_shade);
  overflow: auto;
}

.navbar, #digraph-navbar>.digraph-area-wrapper {
  display: flex;
  line-height: $(line_height_compact);

  .menuitem {
    display: inline-block;
    padding: 0.5em;
    position: relative;
    border-top-left-radius: $(border_radius_accent);
    border-top-right-radius: $(border_radius_accent);
    background-color: $(color_shade);
    margin-left: 0.25em;
    text-decoration: none;
    overflow: hidden;
    min-width: 4em;
    max-width: 10em;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      background-color: $(color_background);
      text-decoration: underline;
    }

    &.selected {
      background-color: $(color_background);
      color: $(color_foreground);

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 0.5em;
        background-color: $(color_accent);
      }

      &.active-path:before {
        background-color: s-adjust($(color_accent), -50);
      }

      &:hover:before {
        background-color: s-adjust($(color_accent), 50);
      }
    }
  }
}
