.navbar,
#digraph-navbar {
  background: $(color_shade);
  overflow: auto;
  margin: 0.25em;
}

#digraph-navbar {
  margin-left: 0;
  margin-right: 0;

  .digraph-area-wrapper {
    padding-left: $(spacing_base);
    padding-right: $(spacing_base);
  }
}

.navbar,
#digraph-navbar > .digraph-area-wrapper {
  display: flex;
  line-height: $(line_height_compact);

  .menuitem {
    display: inline-block;
    padding: 0.5em;
    position: relative;
    background-color: $(color_shade);
    margin-left: 0.25em;
    text-decoration: none;
    overflow: hidden;
    min-width: 4em;
    max-width: 10em;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      background-color: $(color_background);
      text-decoration: underline;
    }

    &.selected {
      background-color: $(color_background);
      color: $(color_foreground);

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border: 0.25em solid $(color_accent);
      }

      &.active-path:before {
        border-color: s-adjust($(color_accent), -50);
      }

      &:hover:before {
        border-color: s-adjust($(color_accent), 50);
      }
    }
  }
}

.navbar {
  background: transparent;

  .menuitem {
    border-radius: $(border_radius_accent);
  }
}
